# IPL Dataset Analysis

## Problem Statement
We want to know as to what happens during an IPL match which raises several questions in our mind with our limited knowledge about the game called cricket on which it is based. This analysis is done to know as which factors led one of the team to win and how does it matter.

## About the Dataset :
The Indian Premier League (IPL) is a professional T20 cricket league in India contested during April-May of every year by teams representing Indian cities. It is the most-attended cricket league in the world and ranks sixth among all the sports leagues. It has teams with players from around the world and is very competitive and entertaining with a lot of close matches between teams.

The IPL and other cricket related datasets are available at [cricsheet.org](https://cricsheet.org/%c2%a0(data). Feel free to visit the website and explore the data by yourself as exploring new sources of data is one of the interesting activities a data scientist gets to do.

Snapshot of the data you will be working on:<br>
<br>
The dataset 136522 data points and 23 features<br>

|Features|Description|
|-----|-----|
|match_code|Code pertaining to individual match|
|date|Date of the match played|
|city|City where the match was played|
|venue|Stadium in that city where the match was played|
|team1|team1|
|team2|team2|
|toss_winner|Who won the toss out of two teams|
|toss_decision|toss decision taken by toss winner|
|winner|Winner of that match between two teams|
|win_type|How did the team won(by wickets or runs etc.)|
|win_margin|difference with which the team won| 
|inning|inning type(1st or 2nd)|
|delivery|ball delivery|
|batting_team|current team on batting|
|batsman|current batsman on strike|
|non_striker|batsman on non-strike|
|bowler|Current bowler|
|runs|runs scored|
|extras|extra run scored|
|total|total run scored on that delivery including runs and extras|
|extras_type|extra run scored by wides or no ball or legby|
|player_out|player that got out|
|wicket_kind|How did the player got out|
|wicket_fielders|Fielder who caught out the player by catch|

### Analyzing data using pandas module

### Read the data using pandas module.

In [1]:
import pandas as pd
import numpy as np
df_ipl = pd.read_csv('./data/ipl_dataset.csv')
df_ipl.shape

(136522, 24)

In [2]:
len(df_ipl['match_code'].unique())

# You can also use: 
#df_ipl['match_code'].nunique()

577

### There are certain fixed cities all around the world where matches are held. Find the list of unique cities where matches were played

In [3]:
# Corrected as Venues to Cities
df_ipl['city'].unique()

array(['East London', 'Port Elizabeth', 'Centurion', 'neutral_venue',
       'Chennai', 'Jaipur', 'Kolkata', 'Delhi', 'Chandigarh', 'Hyderabad',
       'Ranchi', 'Mumbai', 'Bangalore', 'Dharamsala', 'Pune', 'Rajkot',
       'Durban', 'Cuttack', 'Cape Town', 'Ahmedabad', 'Johannesburg',
       'Visakhapatnam', 'Abu Dhabi', 'Raipur', 'Kochi', 'Kimberley',
       'Nagpur', 'Bloemfontein', 'Indore', 'Kanpur'], dtype=object)

### Find the columns which contains null values if any ?

In [4]:
df_ipl.isnull().sum()

match_code              0
date                    0
city                    0
venue                   0
team1                   0
team2                   0
toss_winner             0
toss_decision           0
winner               1818
win_type             1818
win_margin           1818
inning                  0
delivery                0
batting_team            0
batsman                 0
non_striker             0
bowler                  0
runs                    0
extras                  0
total                   0
extras_type        129064
player_out         129807
wicket_kind        129807
wicket_fielders    131657
dtype: int64

### Though the match is held in different cities all around the world it may or maynot have multiple venues (stadiums where matches are held) list down top 5 most played venues

In [5]:
d=df_ipl.groupby('match_code')['venue'].unique().value_counts()
d
d.head(5)

[M Chinnaswamy Stadium]              58
[Eden Gardens]                       54
[Feroz Shah Kotla]                   53
[Wankhede Stadium]                   49
[MA Chidambaram Stadium, Chepauk]    48
Name: venue, dtype: int64

### Make a runs vs run-count frequency table

In [6]:
df_ipl['total'].value_counts()

1    56159
0    48739
4    15615
2     9343
6     5773
3      555
5      304
7       34
Name: total, dtype: int64

### IPL seasons are held every year now let's look at our data and extract how many seasons were recorded.

In [7]:
df_ipl['date']=pd.to_datetime(df_ipl['date'])
df_ipl['date'].dt.year.nunique()

9

### What are the total no. of matches played per season

In [8]:
df_ipl['date']=pd.to_datetime(df_ipl['date'])
df_ipl['year']= df_ipl['date'].dt.year
df_ipl.groupby('year')['match_code'].nunique()

year
2008    58
2009    57
2010    60
2011    73
2012    74
2013    76
2014    60
2015    59
2016    60
Name: match_code, dtype: int64

### What are the total runs scored across each season

In [9]:
df_ipl['date']=pd.to_datetime(df_ipl['date'])
df_ipl['year']= df_ipl['date'].dt.year
df_ipl.groupby('year')['total'].sum()

year
2008    17936
2009    16320
2010    18862
2011    21154
2012    22451
2013    22541
2014    18909
2015    18331
2016    18862
Name: total, dtype: int64

### There are teams which are high performing and low performing. Let's look at the aspect of performance of an individual team. Filter the data and aggregate the runs scored by each team. Display top 10 results which are having runs scored over 200.

In [21]:
df=df_ipl.groupby(['match_code', 'inning','team1','team2','winner'])['total'].sum().reset_index() 
df1=df[df['total']>=200]
df1.nlargest(10,'total')

,match_code,inning,team1,team2,winner,total
692,598027,1,Royal Challengers Bangalore,Pune Warriors,Royal Challengers Bangalore,263
1102,980987,1,Royal Challengers Bangalore,Gujarat Lions,Royal Challengers Bangalore,248
288,419137,1,Chennai Super Kings,Rajasthan Royals,Chennai Super Kings,246
2,335983,1,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,240
988,829795,1,Mumbai Indians,Royal Challengers Bangalore,Royal Challengers Bangalore,235
468,501260,1,Kings XI Punjab,Royal Challengers Bangalore,Kings XI Punjab,232
394,501223,1,Delhi Daredevils,Kings XI Punjab,Delhi Daredevils,231
840,733987,1,Kings XI Punjab,Chennai Super Kings,Kings XI Punjab,231
1022,980907,1,Royal Challengers Bangalore,Sunrisers Hyderabad,Royal Challengers Bangalore,227
900,734047,1,Chennai Super Kings,Kings XI Punjab,Kings XI Punjab,226

### Chasing a 200+ target is difficulty in T-20 format. What are the chances that a team scoring runs above 200  in their 1st inning is chased by the opposition in 2nd inning.

In [38]:
filtered_df=pd.DataFrame(df_ipl.groupby(['match_code','batting_team' ,'inning','team1','team2','winner'])['total'].sum().reset_index()) 
filtered_df

,match_code,batting_team,inning,team1,team2,winner,total
0,335982,Kolkata Knight Riders,1,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,222
1,335982,Royal Challengers Bangalore,2,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,82
2,335983,Chennai Super Kings,1,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,240
3,335983,Kings XI Punjab,2,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,207
4,335984,Delhi Daredevils,2,Delhi Daredevils,Rajasthan Royals,Delhi Daredevils,132
5,335984,Rajasthan Royals,1,Delhi Daredevils,Rajasthan Royals,Delhi Daredevils,129
6,335985,Mumbai Indians,1,Mumbai Indians,Royal Challengers Bangalore,Royal Challengers Bangalore,165
7,335985,Royal Challengers Bangalore,2,Mumbai Indians,Royal Challengers Bangalore,Royal Challengers Bangalore,166
8,335986,Deccan Chargers,1,Kolkata Knight Riders,Deccan Chargers,Kolkata Knight Riders,110
9,335986,Kolkata Knight Riders,2,Kolkata Knight Riders,Deccan Chargers,Kolkata Knight Riders,112
10,335987,Kings XI Punjab,1,Rajasthan Royals,Kings XI Punjab,Rajasthan Royals,166
11,335987,Rajasthan Royals,2,Rajasthan Royals,Kings XI Punjab,Rajasthan Royals,168
12,335988,Deccan Chargers,1,Deccan Chargers,Delhi Daredevils,Delhi Daredevils,142
13,335988,Delhi Daredevils,2,Deccan Chargers,Delhi Daredevils,Delhi Daredevils,143
14,335989,Chennai Super Kings,1,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,208
15,335989,Mumbai Indians,2,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,202
16,335990,Deccan Chargers,1,Deccan Chargers,Rajasthan Royals,Rajasthan Royals,214
17,335990,Rajasthan Royals,2,Deccan Chargers,Rajasthan Royals,Rajasthan Royals,217
18,335991,Kings XI Punjab,1,Kings XI Punjab,Mumbai Indians,Kings XI Punjab,182
19,335991,Mumbai Indians,2,Kings XI Punjab,Mumbai Indians,Kings XI Punjab,116
20,335992,Rajasthan Royals,2,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,138
21,335992,Royal Challengers Bangalore,1,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,135
22,335993,Chennai Super Kings,2,Chennai Super Kings,Kolkata Knight Riders,Chennai Super Kings,152
23,335993,Kolkata Knight Riders,1,Chennai Super Kings,Kolkata Knight Riders,Chennai Super Kings,147
24,335994,Deccan Chargers,2,Mumbai Indians,Deccan Chargers,Deccan Chargers,155
25,335994,Mumbai Indians,1,Mumbai Indians,Deccan Chargers,Deccan Chargers,154
26,335995,Delhi Daredevils,1,Kings XI Punjab,Delhi Daredevils,Kings XI Punjab,158
27,335995,Kings XI Punjab,2,Kings XI Punjab,Delhi Daredevils,Kings XI Punjab,162
28,335996,Chennai Super Kings,1,Royal Challengers Bangalore,Chennai Super Kings,Chennai Super Kings,178
29,335996,Royal Challengers Bangalore,2,Royal Challengers Bangalore,Chennai Super Kings,Chennai Super Kings,165
...,...,...,...,...,...,...,...
1106,980991,Kings XI Punjab,1,Kings XI Punjab,Sunrisers Hyderabad,Sunrisers Hyderabad,179
1107,980991,Sunrisers Hyderabad,2,Kings XI Punjab,Sunrisers Hyderabad,Sunrisers Hyderabad,180
1108,980993,Delhi Daredevils,2,Mumbai Indians,Delhi Daredevils,Mumbai Indians,126
1109,980993,Mumbai Indians,1,Mumbai Indians,Delhi Daredevils,Mumbai Indians,206
1110,980995,Kolkata Knight Riders,1,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,183
1111,980995,Royal Challengers Bangalore,2,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,186
1112,980997,Delhi Daredevils,1,Rising Pune Supergiants,Delhi Daredevils,Rising Pune Supergiants,121
1113,980997,Rising Pune Supergiants,2,Rising Pune Supergiants,Delhi Daredevils,Rising Pune Supergiants,76
1114,980999,Kings XI Punjab,2,Royal Challengers Bangalore,Kings XI Punjab,Royal Challengers Bangalore,120
1115,980999,Royal Challengers Bangalore,1,Royal Challengers Bangalore,Kings XI Punjab,Royal Challengers Bangalore,211
1116,981001,Gujarat Lions,2,Gujarat Lions,Kolkata Knight Riders,Gujarat Lions,125
1117,981001,Kolkata Knight Riders,1,Gujarat Lions,Kolkata Knight Riders,Gujarat Lions,124
1118,981003,Delhi Daredevils,2,Delhi Daredevils,Sunrisers Hyderabad,Delhi Daredevils,161
1119,981003,Sunrisers Hyderabad,1,Delhi Daredevils,Sunrisers Hyderabad,Delhi Daredevils,158
1120,981005,Kings XI Punjab,1,Rising Pune Supergiants,Kings XI Punjab,Rising Pune Supergiants,172
1121,981005,Rising Pune Supergiants,2,Rising Pune Supergiants,Kings XI Punjab,Rising Pune Supergiants,173
1122,981007,Gujarat Lions,2,Gujarat Lions,Mumbai Indians,Gujarat Lions,173
1123,981007,Mumbai Indians,1,Gujarat Lions,Mumbai Indians,Gujarat Lions,172
1124,981009,Kolkata Knight Riders,1,Kolkata Knight Riders,Sunrisers Hyderabad,Kolkata Knight Riders,171
1125,981009,Sunrisers Hyderabad,2,Kolkata Knight Riders,Sunrisers Hyderabad,Kolkata Knight Riders,149
1126,981011,Delhi Daredevils,1,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,138
1127,981011,Royal Challengers Bangalore,2,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,139
1128,981013,Gujarat Lions,1,Gujarat Lions,Royal Challengers Bangalore,Royal Challengers Bangalore,158
1129,981013,Royal Challengers Bangalore,2,Gujarat Lions,Royal Challengers Bangalore,Royal Challengers Bangalore,159
1130,981015,Kolkata Knight Riders,2,Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,140
1131,981015,Sunrisers Hyderabad,1,Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,162
1132,981017,Gujarat Lions,1,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,162
1133,981017,Sunrisers Hyderabad,2,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,163
1134,981019,Royal Challengers Bangalore,2,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,200
1135,981019,Sunrisers Hyderabad,1,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,208

In [40]:
filtered_df=filtered_df[filtered_df['total']>=200]
scoring_= filtered_df[(filtered_df['total']>=200) & (filtered_df['inning']==2)]
scoring_

,match_code,batting_team,inning,team1,team2,winner,total
3,335983,Kings XI Punjab,2,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,207
15,335989,Mumbai Indians,2,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,202
17,335990,Rajasthan Royals,2,Deccan Chargers,Rajasthan Royals,Rajasthan Royals,217
100,336033,Chennai Super Kings,2,Chennai Super Kings,Rajasthan Royals,Rajasthan Royals,201
231,419107,Rajasthan Royals,2,Mumbai Indians,Rajasthan Royals,Mumbai Indians,208
241,419112,Royal Challengers Bangalore,2,Royal Challengers Bangalore,Kings XI Punjab,Royal Challengers Bangalore,204
289,419137,Rajasthan Royals,2,Chennai Super Kings,Rajasthan Royals,Chennai Super Kings,223
292,419139,Kings XI Punjab,2,Kolkata Knight Riders,Kings XI Punjab,Kings XI Punjab,204
395,501223,Kings XI Punjab,2,Delhi Daredevils,Kings XI Punjab,Delhi Daredevils,202
514,548318,Chennai Super Kings,2,Chennai Super Kings,Royal Challengers Bangalore,Chennai Super Kings,208
791,729283,Kings XI Punjab,2,Chennai Super Kings,Kings XI Punjab,Kings XI Punjab,206
860,734007,Kings XI Punjab,2,Sunrisers Hyderabad,Kings XI Punjab,Kings XI Punjab,211
900,734047,Chennai Super Kings,2,Chennai Super Kings,Kings XI Punjab,Kings XI Punjab,202
903,734049,Kolkata Knight Riders,2,Kolkata Knight Riders,Kings XI Punjab,Kolkata Knight Riders,200
1134,981019,Royal Challengers Bangalore,2,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,200

In [42]:
scoring_and_winning = scoring_[scoring_['batting_team']== scoring_['winner']]
scoring_and_winning

,match_code,batting_team,inning,team1,team2,winner,total
17,335990,Rajasthan Royals,2,Deccan Chargers,Rajasthan Royals,Rajasthan Royals,217
241,419112,Royal Challengers Bangalore,2,Royal Challengers Bangalore,Kings XI Punjab,Royal Challengers Bangalore,204
292,419139,Kings XI Punjab,2,Kolkata Knight Riders,Kings XI Punjab,Kings XI Punjab,204
514,548318,Chennai Super Kings,2,Chennai Super Kings,Royal Challengers Bangalore,Chennai Super Kings,208
791,729283,Kings XI Punjab,2,Chennai Super Kings,Kings XI Punjab,Kings XI Punjab,206
860,734007,Kings XI Punjab,2,Sunrisers Hyderabad,Kings XI Punjab,Kings XI Punjab,211
903,734049,Kolkata Knight Riders,2,Kolkata Knight Riders,Kings XI Punjab,Kolkata Knight Riders,200

In [46]:
percent=len(scoring_and_winning)/len(scoring_)
print('the chances are:"+"{:.2%}'.format(percent))

the chances are:"+"46.67%

### Every season has that one team which is outperforming others and is in great form. Which team has the highest win counts in their respective seasons ?

In [45]:
df_ipl['date']=pd.to_datetime(df_ipl['date'])
df_ipl['year']= df_ipl['date'].dt.year
df1=df_ipl.drop_duplicates(subset='match_code',keep='first')
X=df1.groupby('year')['winner'].describe()
X.drop(columns)

     count unique                    top freq
year
2008    58      8       Rajasthan Royals   13
2009    56      8       Delhi Daredevils   10
2010    59      8         Mumbai Indians   11
2011    72     10    Chennai Super Kings   11
2012    74      9  Kolkata Knight Riders   12
2013    74      9         Mumbai Indians   13
2014    59      8        Kings XI Punjab   12
2015    56      8         Mumbai Indians   10
2016    60      8    Sunrisers Hyderabad   11